* {
    box-sizing: border-box;
}

@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(../fonts/Impact-Font/impact.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-size: 1.1875rem;
}

html {
    font-family: Montserrat;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #dbe2ef;
}

p {
    margin: 0;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

.main-header {
    height: 70px;
    background-color: #3f72af;
    padding: 10px 10px;
}


.nav-logo {
    width: 140px;
    margin-left: 30px;
}

.nav-logo img {
    width: 100%;
    object-fit: cover;
}

.main-header .menu-btn {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    margin-inline-end: 5px;
    margin-block-end: 10px;
    box-shadow: 0px 2px 0px 0px #818891;
    background-color: white;
    border-radius: 7px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.main-header .menu-btn:hover {
    background: linear-gradient(to bottom, #dce2ee 5%, #a2a6ac 100%);
    background-color: #bed1e7;
}

.nav-list {
    padding: 20px;
}

.list-items a {
    margin: 0 10px;
    font-size: 1.125em;
    color: #dbe2ef;
}

.img-gallery {
    display: grid;
    max-width: 960px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 15px;
    margin: auto;
    padding: 30px;
}

.img-preview {
    width: 100%;
    object-fit: cover;
    margin: 3px;
}

.card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.search-bar {
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #f9f7f7;
    padding: 10px 0;
}

.keywords {
    margin-right: 30px;
}

.keywords-list li {
    margin: 0 3px;
    padding: 20px 5px;
}

input[type="search"] {
    padding: 11px;
    margin: 0 10px 5px 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #3f72af;
    width: 262px;
    /* border-radius: 15px; */
    background-color: #f9f7f7;
    font-size: 1.25rem;
}

input[type="search"]::placeholder {
    color: #3f72af;
    font-family: Montserrat;
}

input[type="search"]:active {
    appearance: none;
}

input[type="color"] {
    opacity: 0;
    z-index: 1;
}

.card-img:hover {
    width: 103%;
}

.search-btn {
    width: 50px;
    height: 50px;
    margin-inline-end: 5px;
    margin-block-end: 10px;
    background-color: #f9f7f7;
    border-radius: 7px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.search-btn:hover {
    width: 52px;
}

.search-btn:active {
    position: relative;
    top: 2px;
}

.canvas-container {
    margin: 5px 0;
}

.meme-container {
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #112f50e0;
}

.meme-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 2px;
    width: 570px;
    align-items: center;
    background-color: #a6b6d3;
    border-radius: 30px;
}

.canvas-editor {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    padding: 5px;
    align-items: center;
}

#meme-canvas {
    display: block;
    margin: auto;
    max-width: 370px;
}

.input-line {
    background-color: white;
    font-size: 1.5rem;
    width: 370px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.input-line::placeholder {
    font-family: Montserrat;
}

.canvas-editor button {
    width: 40px;
    height: 40px;
    margin-inline-end: 5px;
    margin-block-end: 10px;
    box-shadow: 0px 2px 0px 0px #818891;
    background-color: white;
    border-radius: 7px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.canvas-editor button:hover {
    background: linear-gradient(to bottom, #dce2ee 5%, #a2a6ac 100%);
    background-color: #bed1e7;
}

.canvas-editor button:active {
    position: relative;
    top: 2px;
}

.close-btn {
    width: 40px;
    height: 40px;
    margin-inline-end: 5px;
    margin-block-end: 10px;
    box-shadow: 0px 2px 0px 0px #818891;
    background-color: white;
    border-radius: 7px;
    border-radius: 7px;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.close-btn:hover {
    background: linear-gradient(to bottom, #dce2ee 5%, #a2a6ac 100%);
    background-color: #bed1e7;
}

.close-btn:active {
    position: relative;
    top: 2px;
}

.first-btn {
    display: flex;
    height: 100px;
    width: 310px;
    justify-content: space-between;
}

.edit-style {
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 67px));
    height: 90px;
    margin-bottom: 20px;
    justify-items: center;
}

select[name=select-font] {
    grid-area: 2/1/3/4;
    width: 174px;
    background-color: white;
    font-size: 1.5rem;
    padding: 7px 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.local-storage {
    display: flex;
    justify-content: space-between;
}

.share-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 92px;
}

.canvas-editor .share-btn {
    width: 90px;
}

.social-network {
    background-color: #f9f7f7;
    height: 570px;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    max-width: 320px;
    height: 320px;
    border-radius: 50%;
}

.profile-picture img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.side-desc {
    max-width: 530px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.description h2 {
    font-size: 1.56rem;
    font-weight: bold;
}

.icons {
    max-width: 200px;
    margin: 10px auto;
}

.icons-list li {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #3f72af;
    padding: 7px;
    border-radius: 12px;
}

.icons-list img {
    width: 100%;
    object-fit: cover;
}

.my-footer {
    background-color: #3f72af;
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-letters {
    margin-bottom: 120px;
}

.footer-logo {
    width: 180px;
    margin-top: 40px;
}

.footer-logo img {
    width: 100%;
    object-fit: cover;
}

/* .download-btn a{
    background-image: url("ICONS/download.png");
} */

.canvas-editor img, .close-btn img, .search-btn img {
    width: 100%;
    object-fit: cover;
}

/* flex-helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* list-helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* SCREEN */

.main-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111111cc;
    display: none;
}

body.open-menu .main-screen{
    display: block;
}

/* MOBILE */

/* @media (min-width: 500px) {
    .profile-picture {
        width: 215px;
        height: 215px;
        border-radius: 50%;
    }
    #meme-canvas{
        display: block;
        margin: auto;
        max-width: 370px;
    }
} */

@media (max-width: 400px) {
    .keywords-list li {
        margin: 0px 2px;
        padding: 10px 1px;
    }

}

/* NARROW */

@media (min-width: 800px) {
    .main-header {
        height: 70px;
        background-color: #3f72af;
        padding: 10px 10px;
    }
    .main-header .menu-btn {
        display: none;
    }
    .main-header .close-btn {
        display: none;
    }
    .list-items {
        flex-direction: row;
    }
    .search-bar {
        flex-direction: column;
        margin-bottom: 10px;
        background-color: #f9f7f7;
        padding: 10px 0;
    }
    .keywords-list li {
        margin: 0 10px;
        padding: 20px 5px;
    }
    .img-gallery {
        display: grid;
        max-width: 960px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        align-items: center;
        gap: 15px;
        margin: auto;
        padding: 30px;
    }
    .social-network {
        background-color: #f9f7f7;
        height: 570px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #meme-canvas {
        display: block;
        margin: auto;
        max-width: 500px;
    }
    .canvas-editor {
        height: 333px;
    }
    .canvas-editor button {
        width: 50px;
        height: 50px;
    }
    .input-line {
        width: 460px;
        padding: 13px 5px;
    }
    .meme-editor {
        height: 900px;
        padding: 10px;
        width: 700px;
    }
    .first-btn {
        width: 390px;
    }
    .close-btn {
        width: 50px;
        height: 50px;
    }
    .edit-style {
        display: grid;
        grid-template-columns: repeat(5, minmax(50px, 1fr));
        height: 100px;
        margin-bottom: 40px;
        grid-gap: 10px 30px;
    }
    select[name=select-font] {
        grid-area: 2/1/3/4;
        width: 220px;
        background-color: #ffffff;
        font-size: 1.5rem;
        padding: 13px 5px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
}

@media (max-width: 800px) {
    .nav-list {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 280px;
        background-color: rgb(196 207 214 / 94%);
        border-left: 1px solid #8e8888;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.8s
    }
    .list-items {
        flex-direction: column;
    }
    .main-header li {
        width: 240px;
        height: 100px;
        margin: 5px auto;
        background-color: #46429ac2;
        border: none;
        padding: 35px;
        text-align: center;
    }
    .main-header li:hover {
        /* width: 240px;
        height: 100px;
        margin: 5px auto; */
        background-color: #878597c2;
        border: none;
    }
    body.open-menu .nav-list {
        transform: translateX(0);
    }
}

/* WIDE */

@media (min-width: 950px) {
    .search-bar {
        flex-direction: row;
        margin-bottom: 10px;
        background-color: #f9f7f7;
        padding: 10px 0;
    }
    .social-network {
        background-color: #f9f7f7;
        height: 500px;
        padding: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .profile-picture {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        margin-left: 80px;
    }
    .description {
        margin-top: 70px;
    }
    .side-desc {
        margin-right: 100px;
        display: flex;
        text-align: inherit;
        flex-direction: column;
        justify-content: space-between;
    }
    p {
        margin-bottom: 10px;
    }
    .icons {
        margin: 0;
    }
    .meme-editor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        padding: 20px;
        height: 650px;
        width: 1060px;
        background-color: #dbe2ef;
        border-radius: 30px;
    }
    .canvas-container {
        padding-right: 25px;
        margin-top: 0;
    }
    #meme-canvas {
        display: block;
        margin: auto;
        max-width: 500px;
    }
    .canvas-editor {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70vh;
        padding: 20px 10px 13px;
        margin: 50px 10px;
    }
    .input-line {
        width: 380px;
        margin-bottom: 20px;
    }
    .edit-style {
        margin-bottom: 100px;
    }
    .close-btn {
        width: 50px;
        height: 50px;
    }
    .first-btn {
        width: 380px;
    }
}